<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light p-4">

<div class="container mt-5">

    <!-- Logout Button -->
    <div class="text-end mb-3">

        <form th:action="@{/logout}" method="post">

           <button class="btn btn-danger px-4">
                Logout
            </button>

        </form>

    </div>

<h1 class="text-center mb-4 text-primary">
    Hospital Management System
</h1>

<div class="row mb-4">

    <div class="col-md-4">

        <div class="card bg-primary text-white p-3 shadow rounded-4 border-0">

            <h4>Total Doctors</h4>

            <h2 th:text="${#lists.size(doctors)}"></h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-success text-white p-3 shadow rounded-4 border-0">

            <h4>Total Patients</h4>

            <h2 th:text="${#lists.size(patients)}"></h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-danger text-white p-3 shadow rounded-4 border-0">

            <h4>Total Appointments</h4>

            <h2 th:text="${#lists.size(appointments)}"></h2>

        </div>

    </div>

</div>

    <div class="row">

        <!-- Doctor Form -->
        <div class="col-md-4">
           <div class="card p-4 shadow border-0 rounded-4">

                <h3>Add Doctor</h3>

                <form action="/addDoctor" method="post">

                    <input type="text"
                           name="name"
                           class="form-control mb-2"
                           placeholder="Doctor Name">

                    <input type="text"
                           name="specialization"
                           class="form-control mb-2"
                           placeholder="Specialization">

                    <input type="email"
                           name="email"
                           class="form-control mb-2"
                           placeholder="Email">

                    <input type="text"
                           name="phone"
                           class="form-control mb-2"
                           placeholder="Phone">

                    <button class="btn btn-primary w-100">
                        Add Doctor
                    </button>

                </form>

            </div>
        </div>

        <!-- Patient Form -->
        <div class="col-md-4">
            <div class="card p-4 shadow border-0 rounded-4">

                <h3>Add Patient</h3>

                <form action="/addPatient" method="post">

                    <input type="text"
                           name="name"
                           class="form-control mb-2"
                           placeholder="Patient Name">

                    <input type="number"
                           name="age"
                           class="form-control mb-2"
                           placeholder="Age">

                    <input type="text"
                           name="gender"
                           class="form-control mb-2"
                           placeholder="Gender">

                    <input type="text"
                           name="disease"
                           class="form-control mb-2"
                           placeholder="Disease">

                    <input type="text"
                           name="phone"
                           class="form-control mb-2"
                           placeholder="Phone">

                    <button class="btn btn-success w-100">
                        Add Patient
                    </button>

                </form>

            </div>
        </div>

        <!-- Appointment Form -->
        <div class="col-md-4">
            <div class="card p-4 shadow border-0 rounded-4">

                <h3>Book Appointment</h3>

                <form action="/addAppointment" method="post">

                    <input type="text"
                           name="patientName"
                           class="form-control mb-2"
                           placeholder="Patient Name">

                    <input type="text"
                           name="doctorName"
                           class="form-control mb-2"
                           placeholder="Doctor Name">

                    <input type="date"
                           name="appointmentDate"
                           class="form-control mb-2">

                    <button class="btn btn-danger w-100">
                        Book Appointment
                    </button>

                </form>

            </div>
        </div>

    </div>

    <hr>

    <!-- Doctors Table -->
    <h2 class="mt-4">Doctors</h2>

    <table class="table table-bordered table-striped shadow">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Specialization</th>
<th>Actions</th>
        </tr>

        <tr th:each="doctor : ${doctors}">

            <td th:text="${doctor.id}"></td>

            <td th:text="${doctor.name}"></td>

            <td th:text="${doctor.specialization}"></td>

<td>

    <a th:href="@{'/editDoctor/' + ${doctor.id}}"
   class="btn btn-warning btn-sm">
    Edit
</a>

<a th:href="@{'/deleteDoctor/' + ${doctor.id}}"
   class="btn btn-danger btn-sm">
    Delete
</a>

</td>

        </tr>

    </table>

    <!-- Patients Table -->
    <h2 class="mt-4">Patients</h2>

    <table class="table table-bordered table-striped shadow">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Disease</th>
s
        </tr>

        <tr th:each="patient : ${patients}">

            <td th:text="${patient.id}"></td>

            <td th:text="${patient.name}"></td>

            <td th:text="${patient.disease}"></td>

<td>

    <a th:href="@{'/deletePatient/' + ${patient.id}}"
       class="btn btn-danger btn-sm">

        Delete

    </a>

</td>

        </tr>

    </table>

    <!-- Appointments Table -->
    <h2 class="mt-4">Appointments</h2>

    <table class="table table-bordered table-striped shadow">

        <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
<th>Actions</th>
        </tr>

        <tr th:each="appointment : ${appointments}">

            <td th:text="${appointment.id}"></td>

            <td th:text="${appointment.patientName}"></td>

            <td th:text="${appointment.doctorName}"></td>

            <td th:text="${appointment.appointmentDate}"></td>

            <td th:text="${appointment.status}"></td>

<td>

    <a th:href="@{'/deleteAppointment/' + ${appointment.id}}"
       class="btn btn-danger btn-sm">

        Delete

    </a>

</td>

        </tr>

    </table>

</div>

</body>
</html>